@media (min-width: 800px) {
    h1 {
        color: var(--font-color);
        font-size: var(--font);
        font-weight: bold;
    }
    nav {
        display: block;
        background: var(--primary-color);
        text-align-last: right;
        margin-inline-start: auto;
    }
    .header-nav__item a {
        color: var(--font-color);
        padding: 0.8rem;
        border-radius: 2px;
        text-decoration: none;
        font-size: var(--font);
        font-weight: bold;
    }
    .header-nav__item a:hover {
        color: var(--font-color);
    }
    .header-nav__item a:active {
        color: var(--four-color);
    }
    .header-nav__item a::after {
        content: " | ";
    }
    aside {
        display: flex;
        flex-wrap: wrap;
    }
    aside .informacion-contenedor {
        width: 50%;
        margin: 0 2.4rem ;
        display: flex;
        flex-wrap: nowrap;
    }
    aside .contenedor-pantalla-flor {
        display: flex;
        align-items: center;
        min-height: 6rem;
        justify-content: center;
        width: 28rem;
        height: 40rem;
        margin: 0;
        margin-top: 3rem;
        width: 40%;
    }
    aside .pantalla {
        width: 28rem;
        height: 36rem;
        position: absolute;
        margin: 0;
    }
    .flor {
        width: 120px;
        height: 120px;
        display: flex;
        animation: flor-girando 10s infinite linear;
    }
}