/* General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  /* --t: 95%; */
  --primary-color: hsl(233, 37%, var(--l));
  --secundary-color: hsl(169, 80%, 52%);
  --accent-color: hsl(0, 100%, 71%);
  --color-text: hsl(233, 37%, var(--t));

  background-color: var(--primary-color);
  color: var(--color-text);
}

/* header */
header {
  --l: 25%;
  --t: 95%;
  width: 100%;
  height: 5rem;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
}

.logotipo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logotipo p {
  padding: 0.5rem;
}

nav {
  display: flex;
  border-radius: 1rem;
  padding: 0 1rem;
  --l: 50%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-content: center;
}

nav li {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
}

nav li:hover,
nav li:active {
  --l: 17%;
}

/* main */
/* hero */
main {
  --t: 17%;
  container: hero / inline-size;
  max-width: 1400px;
}

.hero {
  display: grid;
  margin: 2rem;
  text-align: center;
}

.title {
  margin: 1rem;
  align-content: center;
}

.title h1 {
  font-size: max(2.4em, 2.4em + 3.4cqi);
}

.title p {
  font-size: max(1em, 1em + 2cqi);
  margin-top: 1rem;
}

.photo {
  align-content: center;
}

.photo img {
  width: 60%;
  border-radius: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin: 2rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-work {
  justify-self: center;
  text-align: center;
  margin: 1.5rem;
}

.header-work h3 {
  font-size: max(1.6em, 1.6em + 3cqi);
}

.header-work p {
  font-size: max(1em, 1em + 2cqi);
  margin-top: 0.5rem;
}

.gallery {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 2rem;
  list-style: none;
  padding-inline: 1.5rem;
  margin-top: 2rem;
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 1rem;
  list-style: none;
}

.card {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  height: 11rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.75rem;
  text-decoration: none;
  overflow: hidden;
}

.title-card {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border-radius: 0.375rem;
}

.card img {
  grid-area: 1 / 1 / 3 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta a {
  position: relative;
  display: flex;
  text-align: center;
  padding: 0.56rem 2rem;
  gap: 0.8rem;
  text-decoration: none;
  border-radius: 50rem;
  overflow: hidden;
  background-color: var(--accent-color);
  margin: 1.5rem;
  justify-content: center;
}

@container hero (min-width: 700px) {
  .hero {
    grid-template-columns: 2fr 1fr;
    margin-right: 4rem;
    text-align: start;
  }

  .photo img {
    width: 100%;
  }

  .title {
    padding-right: 5rem;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}
