/*General styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
} 
body {
    background-color: var(--six-color);
}
h3 {
    font-size: 2.6rem;
}

[data-theme="light"] {
    --primary-color: #F2E5E5;
    --secondary-color: #2B3A55;
    --three-color: #E8C4C4;
    --four-color: #CE7777;
    --five-color: #10151F;
    --six-color:#FFF2F2;
}

[data-theme="dark"] {
    --primary-color: #F2E5E5;
    --secondary-color: #FFF2F2;
    --three-color: #2B3A55;
    --four-color: #CE7777;
    --five-color: #E8C4C4;
    --six-color: #10151F;
}
:root {
    --font: 1.8rem;
    --titles: 3rem;  
    --sm: 1.4rem;
    --md: 1.6rem; 
}
/*Header styles*/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 32rem;
    align-items: center;
    background-color: var(--three-color);
    min-height: 6rem;

}
.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
}

.image-container img {
    width: 100%;
}

.header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
}
h1 {
    display: none;
}
#logo {
    width: 5rem;
    margin: 0 1rem 0 0;
}

#logo img {
    width: 100%;
    border-radius: 100%;
    border: 0px solid var(--three-color);
}
header .mode-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}
header svg {
    fill: var(--three-color);
    stroke: var(--secondary-color);
    margin: 0 0 0 1rem;
}
nav {
    display: none;
    text-align-last: right;
    margin-inline-start: auto;
    list-style: none;
   
}
.header-nav__item {
    display: inline-block;
    margin: 0.5rem;
    position: relative;
}
.header-nav__item a {
    color: var(--secondary-color);
    padding: 0.8rem;
    border-radius: 2px;
    text-decoration: none;
    font-size: var(--font);
    font-weight: bold;
}
.header-nav__item a:hover {
    color: var(--font-color);
}
.header-nav__item a:active {
    color: var(--four-color);
}
.header-nav__item a::after {
    content: " | ";
}
/* Estilos del switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--four-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: var(--four-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*Aside styles*/
aside {
    background-color: var(--six-color);
    min-height: 24rem;
    display: flex;
    justify-content: center;
    padding: 12rem 2rem 6rem 2rem;
    width: 100%;
    flex-direction: column;
}
aside .informacion-contenedor {
    width: 100%;
    min-width: 28rem;
}
aside .informacion {
    color: var(--secondary-color);
}
aside .welcome, aside .porta {
    text-align: center;
    font-size: var(--titles);
    padding-bottom: var(--sm);
    line-height: 4.4rem;
}
aside .welcome {
    color: var(--four-color);
}
aside .description {
    padding-bottom: 1.6rem;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
aside .pantalla {
    width: 8rem;
    height: 8rem;
}
aside .flor {
    display: flex;
    justify-content: flex-end;
}
aside .flor img {
    width: 8rem;
    height: 8rem;
}
/*main styles*/
main {
    background-color: var(--six-color);
    padding: 0 2rem;
}
main .container-photo {
    display: flex;
    align-items: center;
    min-height: 6rem;
    justify-content: center;

}
main .container-photo img {
    width: 100%;
    border-radius: 100%;
    border: 0px solid var(--primary-color);
    width: 14rem;
}
.informacion-sobremi {
    color: var(--secondary-color);
    font-size: var(--font);
    text-align: justify;
    width: 100%;
}
.informacion-sobremi h3 {
    margin-bottom: var(--font);
}
main .skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}
main .skills h3 {
    color: var(--secondary-color);
    font-size: var(--font);
}
main .skills figcaption {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: var(--secondary-color);
    font-weight: bold;
}
main #js {
    margin: auto;
}
main .tech-icons {
    display: flex;
    margin: 2rem;
    justify-content: center;
    list-style: none;
}
main .tech-icons li {
    margin-left: 0.8rem;
}
main .tech-icons .tech-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 3rem;
    height: 100%;
}
main .projects h3 {
    color: var(--secondary-color);
    margin-bottom: var(--font);
    display: flex;
    justify-content: center;
}
main .projects p {
    color: var(--secondary-color);
    font-size: 2rem;
    text-align: justify;
    margin-bottom: var(--font);
}
/* footer styles*/
footer {
    justify-content: center;
    display: flex;
    width: 100%;
    min-width: 32rem;
    align-items: center;
    background-color: var(--three-color);
    min-height: 6rem;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    margin: 2rem;
    list-style: none;
}

footer .social-icons li {
    margin-left: 0.8rem;
}
footer .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

footer .social-icons #linkedin {
    background: #0077b0;
}

footer .social-icons #github {
    background: #23272d;
}

footer .social-icons #platzi {
    background: #121f3d;
}

#linkedin:hover, #github:hover, #platzi:hover {
    transform: scale(1.5);
    transition: transform 1s ease-in-out 0.5s;
}
