@import url("./tokens.css");

/* General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
}

/* header */
header {
  width: 100%;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-50);
  background: var(--gradiente);
}

.logotipo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-self: start;
}

.logotipo p {
  padding: 0.5rem;
}

nav {
  display: none;
  gap: 1rem;
  background-color: var(--color-accent);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-content: center;
}

nav li {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: var(--color-50);
}

nav li:hover,
nav li:active {
  background-color: var(--color-secundary);
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  display: flex;
  border-radius: 50%;
  padding: 0.5rem;
  align-items: center;
  background-color: var(--other-color);
  color: var(--color-50);
}

.social-toggle {
  display: none;
}

.social-toggle img {
  border: 2px solid var(--color-50);
  margin: 0 0.5rem;
  padding: 0.2rem;
  border-radius: 10px;
}

.toggle {
  margin-left: 1rem;
  cursor: pointer;
  background: none;
  border: 1px solid var(--other-color);
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1rem;
}

/* menu mobile */
.menu {
  display: none;
  flex-direction: column;
  padding: 1rem;
  border-top: 1px solid var(--color-50);
  background-color: var(--other-color);
}

.menu a {
  margin: 0.5rem 0;
  text-decoration: none;
  color: var(--color-50);
}

.menu.show {
  display: flex;
}

.socials img {
  border: 2px solid var(--color-50);
  margin: 0 0.5rem;
  padding: 0.2rem;
  border-radius: 10px;
  background-color: var(--other-color);
}

/* main */
/* hero */
main {
  container: hero / inline-size;
  max-width: 1400px;
  margin: 2rem 0;
}

.hero {
  display: grid;
  margin: 2.5rem;
  text-align: center;
}

.title {
  margin: 0.5rem;
  align-content: center;
}

.title h1 {
  font-size: max(2.4em, 2.4em + 3.4cqi);
}

.title p {
  font-size: max(1em, 1em + 2cqi);
  margin-top: 1rem;
}

.photo {
  align-content: center;
}

.photo img {
  width: 60%;
  border-radius: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 3px solid var(--color-text);
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin: 2.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.work {
  display: grid;
  gap: 2rem;
}

.header-work {
  justify-self: center;
  text-align: center;
  margin: 0 0.8rem;
}

.header-work h3 {
  font-size: max(1.6em, 1.6em + 3cqi);
}

.header-work p {
  font-size: max(1em, 1em + 2cqi);
  margin-top: 0.5rem;
}

.gallery {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 2rem;
  list-style: none;
  padding-inline: 0.8rem;
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 1rem;
  list-style: none;
}

.card {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  height: 11rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.75rem;
  text-decoration: none;
  overflow: hidden;
}

.title-card {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: black;
  color: #f5f6f8;
  border-radius: 0.375rem;
}

.card img {
  grid-area: 1 / 1 / 3 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta a {
  position: relative;
  display: flex;
  text-align: center;
  padding: 1rem 3rem;
  gap: 0.8rem;
  text-decoration: none;
  border-radius: 50rem;
  overflow: hidden;
  background-color: var(--color-accent);
  color: #f5f6f8;
  margin: 1rem;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  padding: 3rem 2rem;
  border-top: 2px solid var(--color-text);
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.socials a {
  text-decoration: none;
  color: var(--color-text);
}

.about {
  margin: 2.5rem;
}

.about h2 {
  margin: 1rem 0;
  font-size: max(1.2em, 1.2em + 1cqi);
}

.about p {
  margin: 2rem 4rem;
  font-size: max(1em, 1em + 1cqi);
}

@container hero (min-width: 700px) {
  .hero {
    grid-template-columns: 2fr 1fr;
    margin-right: 4rem;
    text-align: start;
  }

  .photo img {
    width: 100%;
  }

  .title {
    padding-right: 5rem;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }

  .work {
    display: grid;
    grid-template-areas:
      "header-work header-work header-work cta"
      "gallery gallery gallery gallery";
    margin: 1.6rem;
  }

  .header-work {
    grid-area: header-work;
    justify-self: flex-start;
    text-align: left;
  }

  .gallery {
    grid-area: gallery;
    margin-bottom: 10rem;
  }

  .grid li:nth-child(1),
  .grid li:nth-child(3) {
    transform: translateY(7.5rem);
  }

  .card {
    height: 22rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .cta {
    grid-area: cta;
  }
}

@media (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .menu-btn {
    display: none;
  }

  nav {
    display: flex;
    border-radius: 1rem;
    padding: 0 1rem;
    --l: 50%;
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
    justify-self: center;
  }

  .social-toggle {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 5rem;
  }

  .group {
    flex-direction: row;
    gap: 3rem;
  }
}
