@import url("./tokens.css");

/* General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family-base);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* header */
header {
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--text-muted);
  background: var(--gradient);
}

.logotipo {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
  justify-self: start;
}

.logotipo p {
  padding: var(--space-xs);
}

nav {
  display: none;
  gap: var(--space-sm);
  background-color: var(--brand);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-content: center;
}

nav li {
  display: inline-block;
  border-radius: var(--space-sm);
  padding: var(--space-xs) var(--space-sm);
}

nav a {
  text-decoration: none;
  color: var(--text-muted);
}

nav li:hover,
nav li:active {
  background-color: var(--brand-hover);
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  font-size: var(--font-size-xlg);
  cursor: pointer;
  position: relative;
  display: flex;
  border-radius: 50%;
  padding: var(--space-xs);
  align-items: center;
  background-color: var(--brand);
  border: 2px solid var(--brand);
  color: var(--text-muted);
}

.social-toggle {
  display: none;
}

.social-toggle img {
  border: 2px solid var(--brand-hover);
  margin: 0 var(--space-xs);
  padding: 0.2rem;
  border-radius: 10px;
  background-color: var(--brand-hover);
}

.toggle {
  margin-left: var(--space-sm);
  cursor: pointer;
  background: none;
  border: 1px solid var(--brand);
  background-color: var(--brand-hover);
  border-radius: 50%;
  padding: 0.4rem;
  font-size: var(--font-size-base);
}

/* menu mobile */
.menu {
  display: none;
  flex-direction: column;
  padding: var(--space-sm);
  border-top: 1px solid var(--text-muted);
  background: var(--gradient);
}

.menu a {
  margin: var(--space-xs) 0;
  text-decoration: none;
  color: var(--text-muted);
}

.menu.show {
  display: flex;
}

.socials img {
  border: 2px solid var(--brand-hover);
  margin: 0 var(--space-xs);
  padding: 0.2rem;
  border-radius: 10px;
  background-color: var(--brand-hover);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header-work {
  border-bottom: 2px solid var(--text);
  padding-bottom: 2.5rem;
}

.title {
  font-size: max(2.4em, 2.4em + 3.4cqi);
  color: var(--text);
  margin-bottom: 0.5rem;
  justify-self: center;
  margin-top: 3.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 2.5rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  font-size: max(1em, 1em + 1cqi);
}

.tags a {
  text-decoration: none;
  color: var(--text-muted);
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  border: 1px solid var(--brand);
  background-color: var(--brand);
  border-radius: 999rem;
  line-height: 1.35;
  white-space: nowrap;
}

.main-work {
  max-width: 50rem;
  align-self: center;
}

.mockup {
  margin: 0 2.5rem;
}

.mockup img {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  display: flex;
  justify-self: center;
}

.description {
  margin: 2.5rem;
  font-size: max(1em, 1em + 0.8cqi);
}
.description p {
  margin-top: 1rem;
}

/* footer*/
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  padding: 3rem 2rem;
  border-top: 2px solid var(--text);
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.socials a {
  text-decoration: none;
  color: var(--text);
}

@media (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .menu-btn {
    display: none;
  }

  nav {
    display: flex;
    border-radius: 1rem;
    padding: 0 1rem;
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
    justify-self: center;
  }

  .social-toggle {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }

  main {
    gap: 2.5rem;
  }

  .details {
    flex-direction: row;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 5rem;
  }

  .group {
    flex-direction: row;
    gap: 3rem;
  }
}
