/*Estilos GEnerales*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
:root {
    --primary-color: #2B3A55;
    --secundary-color: #ce7777;
    --three-color: #F2E5E5;
    --four-color: #e8c4c4;
    --font-color: #ffffff;
    --font: 1.8rem;
    --titles: 3rem;  
    --sm: 1.4rem;
    --md: 1.6rem; 
}
.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}
h1 {
    color: var(--primary-color);
    font-size: var(--font);
    font-weight: bold;
}

/*Estilos del header*/
header {
    display: flex;
    width: 100%;
    min-width: 32rem;
    align-items: center;
    background-color: var(--secundary-color);
    min-height: 10rem;
}
#logo {
    width: 8rem;
}
#logo img {
    width: 100%;
    border-radius: 100%;
    border: 0px solid var(--secundary-color);
}
nav {
    display: block;
    background: var(--secundary-color);
    text-align-last: right;
    margin-inline-start: auto;
}
nav .header-nav {
    list-style: none;
    padding-left: 0;
}
nav .header-nav li:nth-child(2),
nav .header-nav li:nth-child(3) {
    display: none;
} 
nav .header-nav-item {
    display: inline-block;
}
nav .header-nav-item a {
    color: var(--primary-color);
    padding: 0.8rem;
    border-radius: 0.2rem;
    text-decoration: none;
    font-size: var(--font);
    font-weight: bold;
}
nav .header-nav-item a:hover {
    color: var(--font-color)
}
nav .header-nav-item a:active {
    color: var(--four-color);
}
nav .header-nav-item a::after {
    content: " | ";
}

/*Estilos del aside*/
aside {
    display: flex;
    width: 100%;
    min-width: 32rem;
    align-items: center;
    background-color: var(--three-color);
    min-height: 24rem;
    justify-content: center;
    text-shadow: 0 0 var(--primary-color);
}
aside .informacion-container #foto {
    width: 15rem;
    position:relative;
    margin: 1rem auto;
}
aside .informacion-container #foto img {
    border-radius: 100%;
    width: 100%;
    border: 0px solid var(--three-color);
}
aside .informacion-container .informacion {
    font-weight: bold;
    width: 100%;
    font-size: var(--font);
    color: var(--primary-color);
    text-align: center;
}
aside .informacion-container .informacion p {
    text-decoration: overline;
    font-size: 2.5rem;
    margin-top: 1rem;
}
aside .informacion-container .informacion span {
    display: inline-block;
    color: #7389a8;
    margin-bottom: 1rem;
}
aside .informacion {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
    justify-items: center;
}
aside .tech-icons {
    display: flex;
    margin: 2rem;
    justify-content: center;
    list-style: none;
}
aside .tech-icons li {
    margin-left: 0.8rem;
}
aside .tech-icons .tech-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 3rem;
    height: 100%;
}
aside .informacion-sobremi {
    color: var(--primary-color);
    font-size: var(--font);
    text-align: justify;
    padding: var(--titles) var(--font);
    width: 100%;
    text-shadow: 0 0 var(--primary-color);
}
aside .informacion-sobremi h3 {
    margin-bottom: var(--titles);
}
aside #nacionalidad, .idioma {
    display: block;
    margin: 2rem 1rem 0 0;
}
aside .idiomas {
    margin: 1rem 1rem 0 2rem;
}

/*Estilos del footer*/
footer {
    display: flex;
    width: 100%;
    min-width: 32rem;
    align-items: center;
    background-color: var(--secundary-color);
    min-height: 10rem;
    justify-content: center;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    margin: 2rem;
    list-style: none;
}

footer .social-icons li {
    margin-left: 0.8rem;
}
footer .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

footer .social-icons #linkedin {
    background: #0077b0;
}

footer .social-icons #github {
    background: #23272d;
}

footer .social-icons #platzi {
    background: #121f3d;
}

#linkedin:hover, #github:hover, #platzi:hover {
    transform: scale(1.5);
    transition: transform 1s ease-in-out 0.5s;
}